{
	"presets": ["@babel/env", "@babel/preset-react"],
	"plugins": [
		"@babel/syntax-dynamic-import",
		"@babel/transform-classes",
		[
			"@babel/proposal-decorators",
			{
				"legacy": true
			}
		],
		"@babel/transform-arrow-functions",
		"@babel/proposal-object-rest-spread",
		"@babel/transform-strict-mode",
		[
			"import",
			{
				"libraryName": "antd",
				"libraryDirectory": "lib",
				"style": true
			}
		]
	]
}
